<!doctype html>
<title>Data Incubator Milestone Project: Stock Closing Prices for 2017</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Company Stock Prices in December 2017</h1>
  <div class=metanav>


    <form id='userinfoform_lulu' method='post' action='index' >
      <p>
    Ticker Symbol: <input type='text' name='ticker_symbol' placeholder="GOOGL"/>

      </p>

      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
</html>
